
/* about component start*/
.addNoteBox{
    width: 500px;
}
/* about component end */

.fa{
    cursor: pointer;
}


/*================= login page start================= */
.formbox{
    width: 400px;
}
/*================= login page end================= */
